<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <form [formGroup]="form" (submit)="joinGame()">
                    <!--<input type="text" formControlName="gameId" class="form-control" placeholder="Game ID">
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid || gameService.isInGame">Join Game</button>-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-success" (click)="newGame()" [disabled]="gameService.isInGame">New Game</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Game ID" formControlName="gameId">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-success" [disabled]="!form.valid || gameService.isInGame">Join Game</button>
                        </div>
                    </div>
                    <strong *ngIf="gameId">Your Game ID: </strong>{{ gameId }}
                    <div class="input-group mb-3" *ngIf="gameId">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Invite URL</span>
                        </div>
                        <input type="text" class="form-control" value="http://tictactoe.ellis.pw/join/{{gameId}}" disabled>
                    </div>
                </form>
                <div class="alert alert-danger" role="alert" *ngIf="gameError">
                    <strong>Oh no!</strong>&nbsp; {{ gameError }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

